<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="cost-field">
        <label for="cost">Cost:</label>
        <input name="system.cost" type="number" value="{{system.cost}}" placeholder="0" />
      </div>
    </div>
  </header>

    <label for="system.tags" class="resource-label">Tags</label>
    <div class="section">
      <div class="hypermall-editor-container">
        {{editor
        enrichedTags
        target="system.tags"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
    </div>

  <section class="sheet-body">
    <label for="system.description" class="resource-label">Description</label>
    <div class="section">
      <div class="hypermall-editor-container">
        {{editor
        enrichedDescription
        target="system.description"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
    </div>

    <div class="sheet-body">
      <label for="system.effects" class="resource-label">Effects</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedEffects
        target="system.effects"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
    </div>
  </section>
</form>