<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="cost-field">
        <label for="cost">Debt:</label>
        <input name="system.cost" type="number" value="{{system.cost}}" placeholder="0" />
      </div>
    </div>
  </header>

      <div class="section">
      <h2>Tags</h2>
      <div class="editor">
        {{editor
        enrichedTags
        target="system.tags"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
    </div>

  <section class="sheet-body">
    <div class="section">
      <h2>Description</h2>
      <div class="editor">
        {{editor
        enrichedDescription
        target="system.description"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
      <div class="description-display">
        {{{enrichedDescription}}}
      </div>
    </div>

    <div class="section">
      <h2>Effects</h2>
      <div class="editor">
        {{editor
        enrichedEffects
        target="system.effects"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
    </div>
  </section>
</form>