<form class="{{cssClass}} {{actor.type}} flexcol hypermall hypermall-item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label for="name" class="resource-label">Name</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input class="hypermall-actor-name" type="text" name="name" value="{{item.name}}"
            data-dtype="String" />
      </div>
      <label for="price" class="resource-label">Price</label>
      <input name="system.price" type="number" value="{{system.price}}" placeholder="1" />
      </div>
  </header>

  <div class="hypermall-item-info-container grid-span-2">
    <label for="system.tags" class="resource-label">Tags</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedTags
        target="system.tags"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>

      <label for="system.description" class="resource-label">Description</label>
        <div class="hypermall-editor-container">
          {{editor
          enrichedDescription
          target="system.description"
          button=true
          engine="prosemirror"
          editable=editable
          collaborate=false }}
      </div>

      <div class="sheet-body">
        <label for="system.effects" class="resource-label">Effects</label>
        <div class="hypermall-editor-container">
          {{editor
          enrichedEffects
          target="system.effects"
          button=true
          engine="prosemirror"
          editable=editable
          collaborate=false }}
        </div>
      </div>
    </div>
</form>