<form class="{{cssClass}} {{actor.type}} flexcol hypermall hypermall-item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label for="name" class="resource-label">Name</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input class="hypermall-actor-name" type="text" name="name" value="{{item.name}}"
            data-dtype="String" />
      </div>
      <label for="price" class="resource-label">Price</label>
      <input name="system.price" type="number" value="{{system.price}}"/>
      <label for="quantity" class="resource-label">Quantity</label>
      <input name="system.quantity" type="number" value="{{system.quantity}}"/>
      <label for="system.carryType" class="resource-label">Carry Type</label>
      <select name="system.carryType" data-dtype="String">
        <option value="held-1h" {{#if (eq item.system.carryType "held-1h")}}selected{{/if}}>Held 1H</option>
        <option value="held-2h" {{#if (eq item.system.carryType "held-2h")}}selected{{/if}}>Held 2H</option>
        <option value="hardpoint" {{#if (eq item.system.carryType "hardpoint")}}selected{{/if}}>Hardpoint</option>
        <option value="worn" {{#if (eq item.system.carryType "worn")}}selected{{/if}}>Worn</option>
        <option value="stowed" {{#if (eq item.system.carryType "stowed")}}selected{{/if}}>Stowed</option>
        <option value="dropped" {{#if (eq item.system.carryType "dropped")}}selected{{/if}}>Dropped</option>
      </select>
      </div>
  </header>

  <div class="hypermall-item-info-container grid-span-4">
    <label for="system.tags" class="resource-label">Tags</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedTags
        target="system.tags"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>

    <label for="system.brandLine" class="resource-label">Brandline</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedBrandLine
        target="system.brandLine"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>

    <label for="system.description" class="resource-label">Description</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedDescription
        target="system.description"
        button=true
        engine="prosemirror" 
        editable=editable
        collaborate=false }}
    </div>

    <label for="system.effects" class="resource-label">Effect</label>
      <div class="hypermall-editor-container">
        {{editor
        enrichedEffects
        target="system.effects"
        button=true
        engine="prosemirror"
        editable=editable
        collaborate=false }}
      </div>
  </div>
</form>