<section>
    <div class="grid grid-2col">
        <div>
            <div class="hypermall-header">
                <label>Passions</label>
            </div>
            <div class="hypermall-editor-container">
                {{editor
                enrichedPassions
                target="system.passions"
                button=true
                engine="prosemirror"
                editable=editable
                collaborate=false}}
            </div>
        </div>
        <div class="hypermall-hearder">
            <label for="hypermall-gear">Gear</label>
        </div>
        <div class="gear-list-container" data-drop-type="gear">
            {{> "actor-gear-list" gearList=gear gearType="gear"
            createTitle="Create Gear"}}
</section>