<section class="grid grid-2col">

    <section class="hypermall-container">
        <div class="hypermall-header">

            <label class="resource-label center-align" for="hypermall-meater">Meat</label>

        </div>

        <div id="hypermall-meater" class="center grid grid-1col">
            <label class="hypermall-thresholds-status-label" for="system.meat.value">{{lookup meat
                system.meat.value}}</label>
            <textarea class="hypermall-thresholds-input hypermall-meat-indicator" name="system.meat.value"
                data-dtype="Number">{{system.health.value}}</textarea>
        </div>

    </section>

    <section class=" hypermall-container">

        <div class="hypermall-header">
            <label class="resource-label center-align" for="hypermall-stresshold">Stress</label>
        </div>

        <div id="hypermall-stress" class="grid grid-1col">
            <label class="hypermall-thresholds-status-label" for="system.stress.value">{{lookup stress
                system.stress.value}}</label>
            <textarea class="hypermall-thresholds-input hypermall-stress-indicator" name="system.stress.value"
                data-dtype="Number">{{system.stress.value}}</textarea>
        </div>
    </section>
    <section class=" hypermall-container">

        <div class="hypermall-header">
            <label class="resource-label center-align" for="hypermall-debter">Debt</label>
        </div>

        <div id="hypermall-debt" class="grid grid-1col">
            <label class="hypermall-thresholds-status-label" for="system.debt.value">{{lookup debt
                system.debt.value}}</label>
            <textarea class="hypermall-thresholds-input hypermall-debt-indicator" name="system.debt.value"
                data-dtype="Number">{{system.debt.value}}</textarea>
        </div>
    </section>
</section>
