<section>
    <div class="ability flexcol flex-group-center hypermall-container hypermall-rolling">

        <span>Dice Roller</span>

        <div class="hypermall-roll-selector">
            <label class="resource-label hypermall-roll-label">Skill and Stat: </label>
            <select id="hypermall-roll-stat" class="hypermall-roll-selector" data-dtype="String">
                {{#each system.abilities as |ability akey|}}
                {{#if ability.label}}
                <option value="{{akey}}" {{#if (eq akey @root.selectedRollStat)}}selected{{/if}}>{{ability.label}}</option>
                {{/if}}
                {{/each}}
            </select>

            <select id="hypermall-roll-skill" class="hypermall-roll-selector" data-dtype="String">
                <option value="" {{#if (eq @root.selectedRollSkill "")}}selected{{/if}}>(none)</option>
                {{#each system.skills as |skill skey|}}
                <option value="{{skey}}" {{#if (eq skey @root.selectedRollSkill)}}selected{{/if}}>{{skill.label}}</option>
                {{/each}}
            </select>

        </div>

        <div class="hypermall-roll-selector">
            <label class="resource-label hypermall-roll-label">Passion Modifier: </label>
            <div style="display: flex; align-items: center; gap: 5px;">
                <button type="button" class="hypermall-passion-decrement" style="width: 30px; height: 30px;">-1</button>
                <input id="hypermall-roll-passions" type="number" value="0" style="width: 60px; text-align: center;" data-dtype="Number" />
                <button type="button" class="hypermall-passion-increment" style="width: 30px; height: 30px;">+1</button>
            </div>
        </div>

        <button id="hypermall-character-roller" class="rollable" type="button">Roll some dice!</button>
        
    </div>
</section>
