<section class="grid grid-4col">
    <label class="hypermall-attribute-label">Physick</label>
    <input type="text" name="data.stats.physick.value" value="{{system.stats.physick.value}}" data-type="Number"/>

    <label class="hypermall-attribute-label">Craveability</label>
    <input type="text" name="data.stats.craveability.value" value="{{system.stats.craveability.value}}" data-type="Number"/>

    <label class="hypermall-attribute-label">Thinkitude</label>
    <input type="text" name="data.stats.thinkitude.value" value="{{system.stats.thinkitude.value}}" data-type="Number"/>

    <label class="hypermall-attribute-label">Savvy</label>
    <input type="text" name="data.stats.savvy.value" value="{{system.stats.savvy.value}}" data-type="Number"/>

    <ol class="stats-list">
    {{#each actor.data.stats as |stats key|}}
    <li class="attribute flexrow" data-attribute="{{key}}">
        <span class="attribute-label flexrow" name="data.stats.{{key}}.label">{{label}}</span>
        <div class="attribute-editbox flexrow">
            <input class="attribute-value" type="text" name="data.stats.{{key}}.value" value="{{stats.value}}" data-dtype="Number"/>
        </div>
    </li>
    {{/each}}
    </ol>
    <label class="hypermall-attribute-label">Gorge</label>
    <input type="text" name="data.derived.gorge.value" value="{{system.derived.gorge.value}}" data-type="Number"/>
    
</section>
<section class="grid grid-4col">
    {{#each system.abilities as |ability akey|}}
    {{#if ability.label}}
    <div class="ability flexcol flex-group-center hypermall-container">
        <div class="hypermall-header hypermall-attribute-container">
            <label for="system.abilities.{{akey}}.value" class="resource-label flexlarge align-left hypermall-attribute-label"
                data-label="{{ability.label}}">{{ability.label}}</label>
            <input type="number" class="hypermall-rolling-atribute  hypermall-attribute-input" name="system.abilities.{{akey}}.value"
                value="{{ability.value}}" data-dtype="Number" />
        </div>

        {{#each ability.skills as |skill skey|}}

        <div class="hypermall-attribute-container">
            <label for="system.abilities.skills.{{skey}}.value" class="hypermall-skill-label  hypermall-attribute-label flexlarge align-left"
                data-label="{{skill.label}}">{{skill.label}}</label>
            <input type="number" class="hypermall-rolling-atribute hypermall-skill-input hypermall-attribute-input" name="system.abilities.{{akey}}.skills.{{skey}}.value"
                value="{{skill.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{/each}}

    <!-- Render skills here -->
    <section class="hypermall-skills-section">
        <h4>Skills</h4>
        <div class="grid grid-2col">
            {{#each system.skills as |skill skey|}}
            <div class="hypermall-attribute-container">
                <label for="system.skills.{{skey}}.value" class="hypermall-skill-label  hypermall-attribute-label flexlarge align-left" data-label="{{skill.label}}">{{skill.label}}</label>
                <input type="number" class="hypermall-rolling-atribute hypermall-skill-input hypermall-attribute-input" name="system.skills.{{skey}}.value" value="{{skill.value}}" data-dtype="Number" />
            </div>
            {{/each}}
        </div>
    </section>
</section>

{{> "actor-dice-roller"}}
