<form class="{{cssClass}} {{actor.type}} flexcol hypermall" autocomplete="off">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

  <!-- Sheet Header -->
  <header class="sheet-header">
    <div class="header-fields">
      <div class="hypermall-npc-header">
        <h1>NPC PROFILE</h1>
      </div>

      <div class="resources grid grid-2col hypermall-container hypermall-profile">

        <div class="resource flex-group-center">
          <label for="name" class="resource-label">Name</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input class="hypermall-actor-name" type="text" name="name" value="{{actor.name}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.background" class="resource-label">Background</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.background" value="{{system.background}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.phrenology" class="resource-label">Phrenology</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.phrenology" value="{{system.phrenology}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.meat" class="resource-label">Meat</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.meat.value" value="{{system.meat.value}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.stress" class="resource-label">Stress</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.stress.value" value="{{system.stress.value}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.debt" class="resource-label">Debt</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="number" name="system.debt.value" value="{{system.debt.value}}" data-dtype="Number" />
          </div>
        </div>

      </div>
    </div>
  </header>

  <!-- Sheet Tab Navigation -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="mutations">Mutations</a>
    <a class="item" data-tab="psionics">Psionics</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="foundry">Foundry Data</a>
  </nav>

  <!-- Sheet Body -->
  <section class="sheet-body">

    <!-- Description Tab -->
    <div class="tab hypermall-description" data-group="primary" data-tab="description">
      <h3>Background</h3>
      <div class="enriched content">{{{enrichedBackground}}}</div>

      <h3>Phrenology</h3>
      <div class="enriched content">{{{enrichedPhrenology}}}</div>

      <h3>Quote</h3>
      <div class="enriched content">{{{enrichedQuote}}}</div>
    </div>

    <!-- Moves Tab -->
    <div class="tab hypermall-moves" data-group="primary" data-tab="moves">
      <h3>Moves</h3>
      <div class="enriched content">{{{enrichedMoves}}}</div>
    </div>

    <!-- Mutations Tab -->
    <div class="tab hypermall-mutations" data-group="primary" data-tab="mutations">
      {{> "actor-mutations"}}
      <div class="enriched content">{{{enrichedMutations}}}</div>
    </div>

    <!-- Psionics Tab -->
    <div class="tab hypermall-psionics" data-group="primary" data-tab="psionics">
      {{> "actor-psionics"}}
      <div class="enriched content">{{{enrichedPsionics}}}</div>
    </div>

    <!-- Inventory Tab -->
    <div class="tab hypermall-inventory" data-group="primary" data-tab="inventory">
      {{> "actor-gear-list"}}
      <h3>Inventory Notes</h3>
      <div class="enriched content">{{{enrichedInventory}}}</div>
    </div>

    <!-- Foundry Tab -->
    <div class="tab hypermall-foundry" data-group="primary" data-tab="foundry">
      {{> "actor-foundry-data"}}
    </div>

  </section>
</form>
